/* Global Styles */
body{
    background: #fafafa;
    color: #9b9b9b;
}

/* Navigation Bar Styles */
.main-nav{
    background-image: linear-gradient(to left, #8610b0 , #a100b7);
}
.main-nav a{
    color: #fff;
}
.main-nav a:hover{
    color: #eee;
    text-decoration: none;
}
.main-nav .nav-item{
    margin-left: 20px;
}
.login-btn{
    background: #fff;
    color: #000 !important;
    padding: 5px 18px;
    border-radius: 5px;
}
/* Content Style */
.main-div{
    padding: 30px 0;
}
.page-item:first-child .page-link{
    border-top-left-radius: .8rem;
    border-bottom-left-radius: .8rem;
}
.page-item:last-child .page-link{
    border-top-right-radius: .8rem;
    border-bottom-right-radius: .8rem;
}
.page-link{
    color: #999;
    background: transparent;
}
.page-link:hover{
    text-decoration: none;
    color: #eee;
    background: transparent;

}
.page-link.active{
    color: #fff;
    background-image: linear-gradient(to left, #8610b0 , #a100b7);
}

.cards{
    margin-top: 20px;
    color: #9b9b9b;
}
.card{
    margin-bottom: 15px;
}
.card-text{
    font-size: 40px;
}
.card-date{
    margin-bottom: 0px;
}
.percent{
    color: #53da90;
    font-weight: bold;
}

.offers{
    margin-top: 35px;
}
.offers table{
    background: #fff;
    border: 1px solid #dee2e6;
}
.btn-offer{
    background: #8610b0;
    color: #fff !important;
    font-weight: bold;
}
.info-tr span{
    font-weight: bold;
}
.info-tr a{
    color: #9b9b9b;
    text-decoration: none;
    font-weight: bold;
}
.info-tr a:hover{
    color: #555;
    text-decoration: none;
    font-weight: bold;
}
.data-tr i {
    color: #8610b0;
    font-size: 25px;
}
.data-tr td{
    font-size: 18px;
    font-weight: bold;
}
.data-tr .total{
    font-size: 20px;
}
.offer-modal{
    max-width: 750px;
}
.offer-modal .modal-content{
    background: #fafafa;
    color: #000;
}
.offer-modal .modal-footer{
    border-top: none;
}
.input-shadow{
    -webkit-box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.15);
}
.offer-modal .location{
    margin-bottom: 30px;
}
.btn-cancel{
    background: #ec5e5e;
    color: #fff;
}
.offer-modal select.form-control{
    color: #9b9b9b;
}