/* Global Styles */
body{
    background: #fafafa;
}

/* Navigation Bar Styles */
.main-nav{
    background-image: linear-gradient(to left, #8610b0 , #a100b7);
}
.main-nav a{
    color: #fff;
}
.main-nav a:hover{
    color: #eee;
    text-decoration: none;
}
.main-nav .nav-item{
    margin-left: 20px;
}
.login-btn{
    background: #fff;
    color: #000 !important;
    padding: 5px 18px;
    border-radius: 5px;
}